/*index.html*/
/*Menu*/

.dropdown a{
    text-decoration: none;
    font-family: 'Poiret One';
    color:#615F4C;
    background-color: transparent;
}

.col {
    font-family: 'Poiret One';
    font-size: 20px;
    color:#615F4C;
}

.col a {
    text-decoration: none;
}
/*Fin Menu*/

.texto1 p {
    font-family: 'Poiret One'cursive;
    font-size: 50px;
    color:#615F4C;
    padding-top: 40px;
}

.texto2 p {
    font-family: 'Poiret One';
    font-size: 30px;
    color:#615F4C;
    border-bottom: 0px;
    margin-bottom: 0px;
}

#casaExterior{
    background-image: url("../imagenes/casaExterior.jpg");
    background-repeat: no-repeat;
    background-position:100%;
    /*position: relative;*/
    background-attachment: fixed;
    background-size: 100% 100%;
    }
/*Fin index*/

/*projects.html*/
.carousel-control-prev{
    width:5%
}

.carousel-control-next{
    width:5%
}

.carousel-item img{
    background-position:100%;
    position: relative;
    background-attachment: fixed;
    background-size: 100% 100%;

}

/*-------------------------------------------*/

@media (max-width: 576px) {
    .carousel-item img{
        background-position:100%;
        position: relative;
        background-attachment: fixed;
        background-size: 576px 340px;
    }
  } 
  
@media (max-width: 768px) {
    .carousel-item img{
        background-position:100%;
        position: relative;
        background-attachment: fixed;
        background-size: 768px 467px;
    }
}

/*-------------------------------------------*/